<header class="header">
  <div class="container">
    <div class="logo">
      <img src="../assets/images/logo.png" alt="Logo">
    </div>
    <nav class="menu">
      <ul>
        <li class="menu-item">
          <a href="#">Главная</a>
        </li>
        <li class="menu-item">
          <a href="#scooters">Самокаты</a>
        </li>
        <li class="menu-item">
          <a href="#price">Бронирование самокатов</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<section class="main" [ngStyle]="bgPos">
  <div class="container">
    <div class="main-info">
      <h1 class="main-title">Аренда самокатов на любой вкус</h1>
      <div class="main-text">
        В нашем самокатопарке имеется солидная коллекция самокатов: от достаточно
        распространенных моделей до настоящего эксклюзива. Воспользуйтесь уникальной
        возможностью стать обладателем нашего самоката!
      </div>
      <div class="main-action">
        <button class="button" id="main-action" (click)="ScrollTo(scooters)">Посмотреть самокаты</button>
      </div>
    </div>
  </div>
</section>

<section class="scooter" id="scooters" #scooters>
  <div class="container">
    <h2 class="sub-title">Наш самокатопарк</h2>
    <div class="scooter-items">
      <div class="scooter-item" *ngFor="let scooter of scootersData">
        <div class="scooter-item-image">
          <img src="../assets/images/{{scooter.image}}" alt="image">
        </div>
        <div class="scooter-item-title">{{scooter.name}}</div>
        <div class="scooter-item-info">
          <div class="scooter-item-point">
            <img src="../assets/images/gear.png" alt="Gear">
            <div>Самокат</div>
            <div>{{scooter.gear}}</div>
          </div>
          <div class="scooter-item-point">
            <img src="../assets/images/wheel.png" alt="Wheel">
            <div>Скидка в %</div>
            <div>{{scooter.discount}}</div>
          </div>
          <div class="scooter-item-point">
            <img src="../assets/images/belt.png" alt="Belt">
            <div>Кол-во мест</div>
            <div>{{scooter.places}}</div>
          </div>
        </div>
        <div class="scooter-item-action">
          <button class="button scooter-button" (click)="ScrollTo(price, scooter)">Забронировать</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="price" id="price" #price>
  <div class="container">
    <h2 class="sub-title">Узнать цену и забронировать</h2>
    <div class="price-text">
      Заполните данные, и мы перезвоним вам для уточнения всех деталей бронирования
    </div>
    <form action="" class="price-form" [formGroup]="priceForm">
      <input type="text" class="price-input" id="name" placeholder="Ваше имя" formControlName="name">
      <input type="text" class="price-input" id="phone" placeholder="Ваше телефон" formControlName="phone">
      <input type="text" class="price-input" id="scooter" placeholder="Самокат, который вас интересует" formControlName="scooter">
      <button class="button" type="button" id="price-action" (click)="onSubmit()" [disabled]="!priceForm.valid">Узнать цену</button>
    </form>
    <img src="../assets/images/rolls.png" alt="Rolls" class="price-image" [ngStyle]="trans">
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="logo">
      <img src="../assets/images/logo.png" alt="Logo">
    </div>
    <div class="rights">
      Все права защищены
    </div>
  </div>
</footer>
